## test

In [3]:
from datetime import timedelta, datetime
import pandas as pd

In [9]:
# 交易模拟起始日期，yyyy-mm-dd格式
start_date_string = "2006-01-01"
start_date = datetime.strptime(start_date_string, "%Y-%m-%d")

# 交易模拟终止日期，yyyy-mm-dd格式
end_date_string = "2006-01-10"
end_date = datetime.strptime(end_date_string, "%Y-%m-%d")

In [10]:
pd.date_range(start_date_string, end_date_string, freq='B')

DatetimeIndex(['2006-01-02', '2006-01-03', '2006-01-04', '2006-01-05',
               '2006-01-06', '2006-01-09', '2006-01-10'],
              dtype='datetime64[ns]', freq='B')

In [11]:
all_data = pd.read_csv('06_简易股票交易回测系统/stock_px.csv', parse_dates=True, index_col=0)

In [12]:
all_data

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
1990-02-01   4.98    7.86   2.87   16.79   4.27   0.51   6.04   328.79   6.12
1990-02-02   5.04    8.00   2.87   16.89   4.37   0.51   6.09   330.92   6.24
1990-02-05   5.07    8.18   2.87   17.32   4.34   0.51   6.05   331.85   6.25
1990-02-06   5.01    8.12   2.88   17.56   4.32   0.51   6.15   329.66   6.23
1990-02-07   5.04    7.77   2.91   17.93   4.38   0.51   6.17   333.75   6.33
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[5472 rows x 9 columns]

In [20]:
x = all_data.resample('B').ffill()

In [21]:
x

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
1990-02-01   4.98    7.86   2.87   16.79   4.27   0.51   6.04   328.79   6.12
1990-02-02   5.04    8.00   2.87   16.89   4.37   0.51   6.09   330.92   6.24
1990-02-05   5.07    8.18   2.87   17.32   4.34   0.51   6.05   331.85   6.25
1990-02-06   5.01    8.12   2.88   17.56   4.32   0.51   6.15   329.66   6.23
1990-02-07   5.04    7.77   2.91   17.93   4.38   0.51   6.17   333.75   6.33
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[5662 rows x 9 columns]